{% extends 'base.html.twig' %}


{% block body %}

    <h2>index usercard</h2>

    {% for usercard in usercards %}
        <ul>
            <li>{{ usercard.name }}</li>
        </ul>
    {% endfor %}
{% endblock %}
